:root{
  --blue: #2B3E86;

   --box-shadow-inset-blue: .4rem .4rem 1rem #355cb8 inset,
                -.4rem -.4rem 1rem rgb(98, 119, 200) inset;
    --bt-shadow:.5rem .5rem .2rem #243167,
                -.3rem -.3rem .2rem #455f9a;
    --bt-shadow-inset: .4rem .4rem 1rem #243167 inset,
                -.4rem -.4rem 1rem #455f9a inset;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.Opt{
  color: #fff;
   font-size: 1.1rem;
   margin: 2.0rem 0;
   padding: .7rem;
   border-radius: 5rem;
   display: block;
  background: linear-gradient(#0e0124, #22074d);
   font-family: sans-serif;
   font-weight: 800;
  border: 1px solid white;
}

.Opt:hover{
  color: goldenrod;
  background: blue;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button{
  width: 20vh;
  height: 40px;
  margin: auto;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: sans-serif;
  color: #fff;
  background-color: #020230;

}
button:hover{
  cursor: pointer;
  color: white;
  background-color: #000000 inset;
}
.callBtn{
  width: 20vh;
  height: 40px;
  padding: 8px;
  text-decoration: none;
  margin: auto;
  border: none;
  border-radius: 10px;
  font-size: 1.3rem;
  font-family: sans-serif;
  color: #fff;
  background-color: #020230;
}
.callBtn:hover{
  cursor: pointer;
  color: white;
}
